.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
}

.header-button:hover {
	background-color: #cccccc43;
	cursor: pointer;
}